<!-- component add-contact -->
    <app-add-contact></app-add-contact>
<!-- fin -->
<ul class="collection with-header" *ngIf="contact?.length > 0; else noContact">
    <li class="collection-iteam collection-header">
        <h5>la list des contacts</h5>
    </li>
    <li class="collection-item" *ngFor="let contact of contact">
        
        <div class="row">
            <div class="s12 col">
                <button class="btn secondary-content waves-effect" (click)="editContact(contact)">
                    <i class="fa fa-pencil"></i>
                </button>
                <strong>{{ contact.name }}</strong>  | <strong>{{ contact.telephone }}</strong>
            </div>
            <div class="s12 col" *ngIf="statusContact && contact.id == myContact.id">
                <div class="row">
                    <div class="col s12 m6 input-field">
                        <i class="fa fa-user perfix"></i>                        
                        <input type="text" name="name" [(ngModel)]="contact.name">
                    </div>
                    <div class="col s12 m6 input-field">
                        <i class="fa fa-phone perfix"></i>                        
                        <input type="text" name="telephone" [(ngModel)]="contact.telephone">
                    </div>
                </div>
                <button class="btn red" (click)="deleteContact(contact)">delete</button>
                <button class="btn orange" (click)="updateContact(contact)">update</button>
            </div>
            <!-- doublicated -->
            <!-- <div class="s12 col">
                <div class="row">
                    
                </div>
            </div> -->
        </div>
    </li>
</ul>

<ng-template #noContact >
    
    <h5>la liste des contacts est vide !</h5>
    
</ng-template>