<br>
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="fa fa-user prefix"></i>
                <input type="text" placeholder="full name">
                <label for="">Name</label>
            </div>
            
                <div class="input-field col s6">
                    <i class="fa fa-phone prefix"></i>
                    <input type="text" placeholder="phone number">
                    <label for="">Telephone</label>        
                </div>
        </div>
            <button class="btn-large red" type="submit" >SUBMIT</button>
    </div>
</div>